<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

      <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Display' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gentium Book Plus' rel='stylesheet'>

    <style>
    .zoom {
      transition: transform .2s; /* Animation */
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }

    .zoom:hover {
      transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{% url 'appLandLocator:index' %}" style="color: #ffffff; font-family: Satisfy; font-size: 30px">Land Locator</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'appLandLocator:index' %}" style="color: #ffffff; font-family: Gentium Book Plus; font-size: 20px;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'appLandLocator:lands' %}" style="color: #ffffff; font-family: Gentium Book Plus; font-size: 20px;">Lands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #ffffff; font-family: Gentium Book Plus; font-size: 20px;">About & Contact Us</a>
            </li>
          </ul>
          <span class="d-flex">
              {% if user.is_authenticated %}
                <a class="nav-link" href="#" style="color: #ffffff; font-family: Gentium Book Plus; font-size: 20px; margin-right: 10px;">Signed in as: {{user.username}}</a>
                <a href="{% url 'appLandLocator:logout' %}" class="btn btn-primary" type="submit" style="font-family: Noto Sans Display; margin-right: 5px;">LOGOUT</a>
              {% else %}
                <a href="{% url 'appLandLocator:login' %}" class="btn btn-primary" type="submit" style="font-family: Noto Sans Display; margin-right: 5px;">LOGIN</a>
                <a href="{% url 'appLandLocator:signup' %}" class="btn btn-success" type="submit" style="font-family: Noto Sans Display;">SIGN UP</a>
              {% endif %}
          </span>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About and Contact Us</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p style="font-family: Gentium Book Plus;">The project aims at easening location of viable land for agricultural purposes.<br>
              The system (project) acts as a middleman to enable the user (interested party) to access the land for purchasing or leasing purposes.<br>
              The project is a solution to challenges such as several pieces of viable land not being used because of difficulty in accessing the land due to remoteness and lack of knowledge about the existence of the land.It also eliminates human middlemen in acquisition of land for leasing or purchase purposes hence reliability in the provided information about the land and acquisition agreements.
            </p>
          </div>
          <div class="modal-footer">
            <p style="font-family: Gentium Book Plus;">
              Project by:<br>
                <ul style="font-family: Gentium Book Plus;">
                  <li>Enos Obuya - J23/4467/2019</li>
                  <li>George Galugalu - J174/4822/2019</li>
                  <li>Onyango Andrew Abila - J23/5160/2019</li>
                </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>