{% extends 'appLandlocator/base.html' %}
{% block title %}Land Locator: Home{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        {% for infoLand in infoLand %}
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-item text-center text-light mb-5 {% if forloop.first %}active{% endif %}">
        <a href="{% url 'appLandLocator:landDetails' infoLand.landCode %}">
          <img data-bs-toggle="tooltip" title="Click to View This Land" style="height: 600px;" class="d-block w-100" src="{{infoLand.primaryImage.url}}" alt="Slide">
        </a>
        <div class="carousel-caption d-none d-md-block" style="position: absolute; bottom: 10%; left: 50%; transform: translate(-50%, -50%);">
          <a href="{% url 'appLandLocator:landDetails' infoLand.landCode %}" role="button" data-bs-target="#" style="Font-family: Jura;" type="submit" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top">
            Land Location: {{infoLand.location}}<br>
            Land Size: {{infoLand.size}} Acres<br>
            Land Pricing: ksh.{{infoLand.cost}}<hr>
            <b style="color: #000000;">Check Me Out</b>
          </a>
        </div>
      </div>
        {% endfor %}
    <a class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>

{% endblock %}